<!doctype html>
<html >
    <head>
        <title>Ratatouille</title>

         <script language="javascript" type="text/javascript" src="ady.js"></script>
        <script language="javascript" type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

        <script>
            $(document).bind('mobileinit',function(){
                $.mobile.pushStateEnabled = false;
            });
        </script>
         <link rel="stylesheet" type="text/css" href="recipe.css" />
        <script language="javascript" type="text/javascript" src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
         
        <meta charset="UTF-8">
        <script>
            // var connection = new WebSocket('ws://'+location.hostname+':81/', ['arduino']);
            var connection = new WebSocket('ws://websocketstest.local:81/', ['arduino']);
            connection.onopen = function () {  connection.send('Connect ' + new Date()); }; 
            connection.onerror = function (error) {    console.log('WebSocket Error ', error);};
            connection.onmessage = function (e) {  
                console.log('Server: ', e.data);

                if(e.data[2] === "T"){  //TEMP
                    console.log("Reading in Temp");
                    var temp = e.data;
                    temp = temp.slice(15,-1); //remove beginning
                    console.log('Server (parsed): ', temp);
                    var scope = angular.element($("#outer")).scope();
                    var controllerElement = document.querySelector('html');
                    var $scope = angular.element(controllerElement).scope();
                    $scope.$apply(function(){
                        $scope.main.currTemp = temp;
                        console.log($scope.main.currTemp);
                    })
                }
            };

            connection.onclose = function(e) {
                console.log('Server: ', e.data);
                $('#SystemStatusClicker').css("color", "red" );
                IssueSystemMessage( "WebSocket Disconnected!" );
             };
            function LaserToggle(){
                var OnOff = document.getElementById('flipper').value;  
                if(OnOff === "on"){
                    OnOff = "*1";
                }
                else if(OnOff === "off"){
                    OnOff = "*0";
                }
                console.log('OnOff: ' + OnOff); 
                connection.send(OnOff);
            }
        </script>
    </head>

    <body layout="column">

        <div class="container" flex layout="row">

            <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
               
            </md-sidenav>

            <md-content flex>
                <div ng-view></div>
                <label for="flipper"><h2>Adjust Temp Sensor</h2></label>
                <select name="slider" id="flipper" data-role="slider" onchange="LaserToggle();">
                    <option value="off">Off</option>
                    <option value="on">On</option>
                </select> 

              <!-- <div class = "iphone">
                <button class = "left" ng-click="decrement()">
                    Previous Step
                  </button>
                  <button class = "right" ng-click="increment()">
                    Next Step
                 </button></br></br></br></br>
                  <h2>{{main.currStep.text}}</h2>
                  </br>
                  <div class = "time_temp_left">{{main.currTemp}}F / {{main.targetTemp}}F</div>
                  <div class = "time_temp_right">Timer: {{main.timer}} min</div>

              </div> -->
                <div id="newRecipe">
                    <script type="text/javascript" src="DatePicker.js"></script>
                    <script type="text/javascript">

                      // recipe1 = new Recipe("recipe1", function (myRecipe, id) {
                      //   console.log("REcipe with id", id);
                      // });
                      recipe1 = new Recipe(1, 001, 0); //recipenum, recipe id, step counter var
                      recipe1.render();
                    </script>
                    <button class = "left" onclick="recipe1.prevStep()">
                        Previous Step
                    </button>
                    <button class = "right" onclick="recipe1.nextStep()">
                        Next Step
                    </button></br>
                </div>

            </md-content>

        </div>

    </body>
</html>
